<p>Hi <b><%= @resource.email %></b>,</p>

<p>You recently requested to reset your password for your <b>TIME</b> account. Click the button below to reset it.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), style:'border-radius:4px;border:1px solid #ffffff;display:inline-block;cursor:pointer;color:#ffffff;font-family:Arial;font-size:15px;margin-left: 15%;-moz-box-shadow:inset 0px 39px 0px -24px #e67a73;-webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;box-shadow:inset 0px 39px 0px -24px #e67a73;  -webkit-border-radius:4px;-moz-border-radius:4px;background-color:#e4685d;padding:6px 15px;text-decoration:none;text-shadow:0px 1px 0px #b23e35;' %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
<br/>
<br/>
<br/>

<b>Thanks,</b>
<br/>
<strong>TIME Team</strong>